* {
  padding: 0px;
  margin: 0px;
}

body{
  background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.nav{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav__ul{
  height: 160px;
  margin-bottom: 30px;
}

.imglogo{
  height: 60px;
  margin: 3px 60% 20px 5px;
}

.nav__li{
  font-size: 20px;
  text-align: right;
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  position: relative;
  margin: 3px;
  padding: 0;
  display: inline-block;
  top: -20px;

}
.nav__li:hover > a {
  color: #840909;
  transition: 1s
}

.nav__li:hover > i{
  color: #888989;
  transition: 1s
}
.nav__li a {
  text-shadow: 0px 0px 10px #FC8200;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.nav__li i{
  text-shadow: 0px 0px 10px #FC8200;
  color: #fff;
  margin: 1px;
}

.stylefont{
  position: absolute;
  width: 100%;
}

.font1{
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fondoCODM{
  height: 100%;
  width: 100%;
  object-fit: fill;
  filter: blur(3px);
  box-shadow: 0px 0px 10px #FC8200;
}

.subtitulo1-form_p1{
  position: relative;
  top: -50%;
  text-shadow: 2px 2px 2px #BF0000;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff;
  font-size: 50px;
  margin bottom: 10px
}

.subtitulo1-form_p1{
  text-align: center;
  color: #fff
}

.sigueme{
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imgfollowom{
  filter: blur(1px);
  object-fit: cover;
  box-shadow: 0px 0px 10px #FC8200;
}

.logoomlt{
  text-align: center;
  height: 370px;
  width: 100%;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logoomlet{
  box-shadow: 0px 0px 10px #FC8200;
  align-content: center;
  height: 140px;

}

.parrafo-section_p1{
  text-shadow: 2px 2px 2px #FC8200;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff
}

.parrafo-section_p2{
  text-shadow: 2px 2px 2px #00FC82;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff

}

.Horario{
  text-align: center;
  text-shadow: 2px 2px 2px #FC8200;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff
}

table {
   border-collapse: separate;
   border-spacing: 5px;
   color: #fff;

}
td, th {
   background: #fff;
   color: #000;
}

table{
  margin: auto;
  font-size: 20px;
  background-color: #60BF00;
}

.videos{
  text-align: center;
  text-align: center;
  text-shadow: 2px 2px 2px #00FC82;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff;
  height: 1080px;
  white:100%;
}

.VideoYT1{
  object-fit: cover;
}
