* {
  padding: 0px;
  margin: 0px;
}

header{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-container{
  height: 100px;
  width: 100%;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imglogo{
  height: 100px;
  position: absolute;
  top: 0px

}

.nav__li{
  text-align:right;
  padding-top: 10px;
  padding-right: 10px;
}

.nav__li:hover > a {
  color: #840909;
  display: inline-block;
  transition: 1s
}

.nav__li:hover > i{
  color: #888989;
  transition: 1s
}
.nav__li a {
  text-shadow: 0px 0px 10px #FC8200;
  text-decoration: none;
  color: #fff;
}

.nav__li i{
  text-shadow: 0px 0px 10px #FC8200;
  color: #fff;
  margin: 1px;
}


.stylefont {
  padding-top: 15;
  padding-right: 15;
  height: 250px
}

.cuentasoffi{
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

.codcuenta{
  position: absolute;
  height: 200px;
  width: 100%;
  object-fit: fill;
  filter: blur(3px);
  box-shadow: 0px 0px 10px #FC8200;
}

.subtitulo1{
  top: 20%;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 2px #FC8200;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff
}

.texto-container{
  text-align: center;
}

.texto1{
  text-shadow: 2px 2px 2px #BF0000;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #000;
  font-size: 50px;
  margin bottom: 10px
}

.texto2{
  text-shadow: 2px 2px 2px #FC00BF;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #FCBB00
}

.texto3{
  text-shadow: 2px 2px 2px #BF0000;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #000;
  font-size: 50px;
  margin bottom: 10px
}
